body {
  text-align: center;
  font-family: monospace;
  background: #121213;
  color: #fff;
  margin: 0;
}

h1 {
  font-size: 36px;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #bbb;
}

li {
  font-size: 16px;
  margin-bottom: 6px;
}

.btn {
  border: 1px solid #cecece;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  font-size: medium;
  padding: 10px 10px;
  width: 100px;
  color: #fff;
  background-color: #000000;
  font-family: sans-serif;
}

.btn:hover {
  background-color: #121213;
  transition: 0.2s;
}

.rules-btn {
  margin-bottom: 20px;
}
